*{
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  text-decoration: none;
  list-style: none;
  text-align: center;
}

h2{
  font-size: 1em;
}

nav{
  background: rgb(85, 85, 85);
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding: 10px;
  font-size: 0.9em;
}

header ul{
width: 60%;
}

nav li:hover{
  opacity: 50%;
}

header{
  background: rgb(194, 194, 194);
  padding-bottom: 8em;
}

main h2{
  margin-top: 1em;
}

main section{
  width: 100%;
}

section ul{
  margin: 0 auto;
  width: 80%;
  font-size: 30px;
}

section ul li{
  height: 4em;
  margin-top: 1em;
  background: rgb(194, 194, 194);
}

form{
  margin-top: 1em;
  border-top: 1px;
  border-top-style: solid;
  flex-direction: column;
}

form input, textarea{
  width: 60%;
  margin: 0.5em auto;
}

input[type=submit]{
  width: 10%;
}

form hr{
  margin: 1em 0 0 0;
}

body footer{
  background: rgb(85, 85, 85);
  border-top: 1px;
  border-top-style: solid;
}

.footerDiv{
  padding: 1em 0 1em 0;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
}

