*{
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
  list-style: none;
}
nav{
  border-block: 0px solid;
  background: rgb(127, 127, 127);
}
nav li {
  display: inline-block;
  padding: 10px;
  font-size: 0.9em;
}
nav li:hover{
  opacity: 50%;
}
header{
  background: rgb(194, 194, 194);
  padding-bottom: 8em;
}
main h2{
  margin-top: 1em;
  display: flex;
}
section ul{
  margin: 1em auto 0 auto;
  width: 80%;
  font-size: 30px;
}
section ul li{
  margin-top: 1em;
  background: rgb(194, 194, 194);
}
/*
header:first-child{
  filter:grayscale(100%)
}
.hiddenMenu {
  display: none;
  text-decoration-line: none;
}
nav:hover .hiddenMenu {
  display: block;
}
@media screen and (min-width: 0px) {
  *{
    color: white;
    background: black;
  }
}
@media screen and (min-width: 600px) {
  *{
    color: black;
    background: white;
  }
  
} */